<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="{{android.package}}" >

    <uses-sdk
        xmlns:tools="http://schemas.android.com/tools"
        android:minSdkVersion="{{android.minimum_sdk_version}}"
        android:targetSdkVersion="{{android.target_sdk_version}}" />

    <application xmlns:tools="http://schemas.android.com/tools">
        <meta-data android:name="com.facebook.sdk.ApplicationName" android:value="{{project.title}}" />
        <activity android:name="com.defold.facebook.FacebookActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>
